.ChartMenu{
    display:flex;
    border-bottom: 2px solid rgb(19, 23, 34);
    align-items: center;
    height: 40px;

}
.ChartMenu > div{
    height:40px;
    border: 2px solid rgb(19, 23, 34);
}
.ChartMenu__menu{
    width: 36px;
}
.ChartMenu__menu> svg{
    margin:6px;
}

.Tickerinput{
    height: 26px;
    margin: 3px 5px;
    color: rgb(209, 212, 220);
    background-color: rgb(30, 34, 45);
    border: 1px solid rgb(209, 212, 220);
    border-radius: 4px;
    padding: 1px 3px;
}
