.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    color:black;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 80%;
    border-radius: 0.3rem;
}
.modal-header {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-title{
    font-size: 1.5rem;
}
.modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    width: 80%;
    margin: auto;
}
.modal-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;;
    border-bottom-left-radius: calc(.3rem - 1px);
    border-bottom-right-radius: calc(.3rem - 1px);
}
.modal-footer> *{
    margin: 0.25rem;
}
.close {
    /* color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; */
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.sr-only{
    position: absolute;
    width:1px;
    height:1px;
    padding:0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.btn{
    cursor: pointer;
    display:inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    /* line-height:1.5; */
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border: #007bff;
}
.btn-secondary{
    color: #fff;
    background-color: #6c757d;
    border: #6c757d;
}
.delRow{
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.delRow svg{
    cursor:pointer;
}